In [1]:
import pandas as pd

import numpy as np
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.neighbors import KNeighborsClassifier

In [2]:
#Read the file
df=pd.read_csv("glass.csv")

In [3]:

df

          RI     Na    Mg    Al     Si     K    Ca    Ba   Fe  Type
0    1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0     1
1    1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0     1
2    1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0     1
3    1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0     1
4    1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0     1
..       ...    ...   ...   ...    ...   ...   ...   ...  ...   ...
209  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0     7
210  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0     7
211  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0     7
212  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0     7
213  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0     7

[214 rows x 10 columns]

In [4]:
df.columns

Index(['RI', 'Na', 'Mg', 'Al', 'Si', 'K', 'Ca', 'Ba', 'Fe', 'Type'], dtype='object')

In [5]:
#Seperating the input and output variables
x=df.iloc[:,0:9]
x

          RI     Na    Mg    Al     Si     K    Ca    Ba   Fe
0    1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0
1    1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0
2    1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0
3    1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0
4    1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0
..       ...    ...   ...   ...    ...   ...   ...   ...  ...
209  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0
210  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0
211  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0
212  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0
213  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0

[214 rows x 9 columns]

In [6]:
y=df.iloc[:,9]
y

0      1
1      1
2      1
3      1
4      1
      ..
209    7
210    7
211    7
212    7
213    7
Name: Type, Length: 214, dtype: int64

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.25)

In [9]:
kfold=KFold(n_splits=10)

In [10]:
#Model for train data
model = KNeighborsClassifier(n_neighbors=2)
results = cross_val_score(model, x_train, y_train, cv=kfold)

In [11]:
print(results.mean())

0.73125

In [12]:
model = KNeighborsClassifier(n_neighbors=2)
results = cross_val_score(model, x_test, y_test, cv=kfold)

In [13]:
print(results.mean())#accuracy is low here we can try to improve it.

0.3766666666666667

In [14]:
#GridSearchCV Hyperparameter Tunning Method used to get best k value

In [15]:
import numpy
from pandas import read_csv
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV

In [16]:
n_neighbors = numpy.array(range(2,40))
param_grid = dict(n_neighbors=n_neighbors)

In [17]:
model = KNeighborsClassifier()
grid = GridSearchCV(estimator=model, param_grid=param_grid)
grid.fit(x, y)

GridSearchCV(estimator=KNeighborsClassifier(),
             param_grid={'n_neighbors': array([ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
       19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,
       36, 37, 38, 39])})

In [18]:
print(grid.best_score_)
print(grid.best_params_) #k=2 is the best

0.6311184939091916
{'n_neighbors': 2}

In [19]:

kfold=KFold(n_splits=10)

In [20]:
model = KNeighborsClassifier(n_neighbors=2)
results = cross_val_score(model, x, y, cv=kfold)

In [21]:
print(results.mean())

0.5021645021645023

In [22]:
#Putting different values for n_splits and find the model with best accuracy

In [23]:
kfold=KFold(n_splits=45)

In [24]:
model = KNeighborsClassifier(n_neighbors=2)
results = cross_val_score(model, x_train, y_train, cv=kfold)

In [25]:
print(results.mean())

0.7462962962962963

In [26]:
model = KNeighborsClassifier(n_neighbors=2)
results = cross_val_score(model, x_test, y_test, cv=kfold)

In [27]:
print(results.mean())

0.45555555555555555

# feature extraction using cart decision tree and trying out whether any improvement in the accuracy

In [28]:
from sklearn.tree import  DecisionTreeClassifier
from sklearn import tree

In [29]:
from sklearn.tree import DecisionTreeClassifier
model_gini = DecisionTreeClassifier(criterion='gini', max_depth=3)

In [30]:
model_gini.fit(x_train, y_train)

DecisionTreeClassifier(max_depth=3)

In [31]:
print(model_gini.feature_importances_)

[0.         0.         0.18497539 0.2585189  0.03667476 0.
 0.14295966 0.37687128 0.        ]

In [32]:
df.columns

Index(['RI', 'Na', 'Mg', 'Al', 'Si', 'K', 'Ca', 'Ba', 'Fe', 'Type'], dtype='object')

In [33]:

df1=df.drop(["Fe"],axis=1)
df1

          RI     Na    Mg    Al     Si     K    Ca    Ba  Type
0    1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00     1
1    1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00     1
2    1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00     1
3    1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00     1
4    1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00     1
..       ...    ...   ...   ...    ...   ...   ...   ...   ...
209  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06     7
210  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59     7
211  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64     7
212  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57     7
213  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67     7

[214 rows x 9 columns]

In [34]:

df2=df1.drop(["K"],axis=1)
df2

          RI     Na    Mg    Al     Si    Ca    Ba  Type
0    1.52101  13.64  4.49  1.10  71.78  8.75  0.00     1
1    1.51761  13.89  3.60  1.36  72.73  7.83  0.00     1
2    1.51618  13.53  3.55  1.54  72.99  7.78  0.00     1
3    1.51766  13.21  3.69  1.29  72.61  8.22  0.00     1
4    1.51742  13.27  3.62  1.24  73.08  8.07  0.00     1
..       ...    ...   ...   ...    ...   ...   ...   ...
209  1.51623  14.14  0.00  2.88  72.61  9.18  1.06     7
210  1.51685  14.92  0.00  1.99  73.06  8.40  1.59     7
211  1.52065  14.36  0.00  2.02  73.42  8.44  1.64     7
212  1.51651  14.38  0.00  1.94  73.61  8.48  1.57     7
213  1.51711  14.23  0.00  2.08  73.36  8.62  1.67     7

[214 rows x 8 columns]

In [35]:
x=df2.iloc[:,0:7]
x

          RI     Na    Mg    Al     Si    Ca    Ba
0    1.52101  13.64  4.49  1.10  71.78  8.75  0.00
1    1.51761  13.89  3.60  1.36  72.73  7.83  0.00
2    1.51618  13.53  3.55  1.54  72.99  7.78  0.00
3    1.51766  13.21  3.69  1.29  72.61  8.22  0.00
4    1.51742  13.27  3.62  1.24  73.08  8.07  0.00
..       ...    ...   ...   ...    ...   ...   ...
209  1.51623  14.14  0.00  2.88  72.61  9.18  1.06
210  1.51685  14.92  0.00  1.99  73.06  8.40  1.59
211  1.52065  14.36  0.00  2.02  73.42  8.44  1.64
212  1.51651  14.38  0.00  1.94  73.61  8.48  1.57
213  1.51711  14.23  0.00  2.08  73.36  8.62  1.67

[214 rows x 7 columns]

In [36]:
y=df2["Type"]
y

0      1
1      1
2      1
3      1
4      1
      ..
209    7
210    7
211    7
212    7
213    7
Name: Type, Length: 214, dtype: int64

In [37]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.25)

In [38]:
kfold=KFold(n_splits=45)

In [39]:
model = KNeighborsClassifier(n_neighbors=2)
results = cross_val_score(model, x_train, y_train, cv=kfold)

In [40]:
print(results.mean())

0.6592592592592593

In [41]:
model = KNeighborsClassifier(n_neighbors=2)
results = cross_val_score(model, x_test, y_test, cv=kfold)

In [42]:
print(results.mean())

0.6

# since there is improvement we can conclude that accuracy  for train data =  0.6592592592592593and test data=0.6is the best values that we can obtain.